* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #f3f0e9;
    color: #000000;
    line-height: 1.6;
}

.wrapper,
.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.content-wrapper {
    text-align: center;
}

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}
h1 {
    font-size: 2.027rem;
}
h2 {
    font-size: 1.802rem;
}
h3 {
    font-size: 1.424rem;
}
p {
    font-size: 16px;
}


header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.logo img {
    width: 150px;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.main-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.nav a:hover {
    color: #d69e3d;
}

.btn,
.t-btn,
.b-btn {
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: bold;
}


.btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
.t-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.b-btn {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}
/* Hover Effects */
.btn:hover {
    background-color: #d69e3d;
    color: #ffffff;
    border-color: #ffffff;
}
.t-btn:hover {
    background-color: #fffff1;
    color: #000000;
    border-color: #ffffff;
}
.b-btn:hover {
    background-color: #d69e3d;
    color: #ffffff;
    border-color: #000000;
}


.offers,
.menu,
.locations,
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}


.hero {
    position: relative;
    background-image: url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
}
.hero h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}
.hero p {
    font-size: 1.2rem;
}

.intro-txt,
.about-txt,
.test-txt {
    text-align: left;
    margin: 20px;
}
.otxt {
    color: #d69e3d;
}
.line {
    height: 1px;
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
}
.footer {
    justify-content: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.intro {
    text-align: left;
}

.explore,
.about,
.testimonials {
    padding: 20px;
    text-align: center;
}

.explore {
    color: #ffffff;
}



.intro img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.gallery {
    padding: 20px;
    text-align: center;
}



.gallery img {
    width: 100%;
    height: auto;
}







.features {
    background-color: #f8f4ee;
    padding: 20px;
    text-align: center;
}

.features h2 {
    font-size: 1.802rem;
}

.feature-item {
    margin-bottom: 20px;
}

.feature-item img {
    width: 100px;

}

.explore {
    background-image: url('../images/coffee-shop.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
}


.intro-txt,
.about-txt,
.test-txt {
    text-align: left;
    margin: 20px;
}
.otxt {
    color: #d69e3d;
}
.line {
    height: 1px;
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
}
.footer {
    justify-content: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}


@media (min-width: 768px) {
    h1 {
        font-size: 2.986rem;
    }
    h2 {
        font-size: 2.488rem;
    }
    h3 {
        font-size: 1.728rem;
    }
    p {
        font-size: 1rem;
    }
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav a {
        font-size: 18px;
        
    }
   
}
@media (min-width: 1099px) {
    h1 {
        font-size: 3.815rem;
    }
    h2 {
        font-size: 3.052rem;
    }
    h3 {
        font-size: 1.953rem;
    }
    p {
        font-size: 1rem;
    }



}
